/* university gold */
.text-univ-gold {
  color: #CDB77C !important;
}

/* university blue */
nav#mainNav {
  background-color: #000086 !important;
}

/* graduates gold */
.text-grad-gold {
  color: #FFE129 !important;
}

/* graduates blue */
.bg-primary {
  background-color: #00457F !important;
}

.navbar-brand > img {
  max-height: 100%;
  max-width: 100%;
  height: 40px;
  margin-right: 10px;
}

.for-user-link {
  padding: .4em;
  font-size: 1em;
  margin-left: 5px;
}

.full-height {
  background-color: #ddd;
  padding-left: 0;
  padding-right: 0;
  /*min-height: 500px;*/
}

/************  Spinner  *************/
.loading-spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/************  checkbox  *************/
.onoffswitch {
  position: relative; width: 60px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 36px; padding: 0; line-height: 36px;
  border: 2px solid #E3E3E3; border-radius: 36px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 36px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 22px;
  border: 2px solid #E3E3E3; border-radius: 36px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
}
